.navShadow {
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    position: relative;
}

.general-shadow {
    text-shadow: 1px 1px 2px black;
}

.navShadow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #c91919;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navShadow:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

body {
    background-color: #f6c85c9d;
}